.home-table {
  text-align: center;
  table-layout: fixed;
}

.home-table th,
.home-table td {
  width: auto;
}

.home-table td {
  cursor: pointer;
}

.home-buttons-container {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60vw;
  border-radius: 1rem;
}

.home-buttons-container h2 {
  text-align: center;
  color: var(--main-blue);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-buttons {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;}

.home-buttons button {
  font-size: 1.5rem;
  padding: 3rem;
  margin: 2rem;
  border-radius: .5rem;
  border: none;
  background-color: #92fdffaf;
}

.home-buttons button:hover {
  cursor: pointer;
  background-color: #92feff;
}

.missing-activity {
  color: rgb(189, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.missing-activity:hover {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
}
