.home-table {
  text-align: center;
  table-layout: fixed;
}

.home-table th,
.home-table td {
  width: auto;
}

.home-table td {
  cursor: pointer;
}
.home-buttons-container {
  background-color: #0c254d;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60vw;
  width: 30vw;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 0.3rem;
  padding: 0 3rem 2rem 3rem;
}

.home-buttons-container h2 {
  text-align: center;
  color: var(--main-blue);
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #60A5FA;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.home-buttons button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0.2rem 0;
  border-radius: 0.2rem;
  border: none;
  background-color: #eee;
}

.home-buttons button:nth-child(even) {
  background-color: #ddd;
}

.home-buttons button:hover {
  background-color: #ccc;
}

.home-buttons button:hover {
  cursor: pointer;
  /* background-color: #92feff; */
}

.missing-activity {
  color: rgb(189, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.missing-activity:hover {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
}
