table.problem-behavior-table th:first-child, table.problem-behavior-table th:last-child {
    border-radius: 0;
}

.ttl {
    border-radius: 15px 0 0 0 !important;
}

.ttr {
    border-radius: 0 15px 0 0 !important;
    text-align: center;
}

table.problem-behavior-table {
    margin-left: 4rem;
    margin-right: 4rem;
}

.show-line {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.problem-behavior-table thead {
    position: initial
}

.problem-behavior-table th.problem-name {
    position: sticky;
    top: -10rem;
    font-size: 1rem;
    transition: top ease .3s;
}

.problem-behavior-table th.problem-name:hover {
    top: -1rem;
}

.report-text {
    width: 80%;
    margin: auto;
}

.report-text p {
    margin: .5rem 0;
}

.report-text-entry {
    margin-bottom: 3rem !important;
}

/* Make the "Causa scatenante e descrizione" column three times wider */
.problem-behavior-table .wider-column,
.problem-behavior-table .wider-column {
    width: 30%;
    min-width: 500px;
}

/* Adjust other columns to be smaller to accommodate the wider cause column */
.problem-behavior-table td:not(.wider-column),
.problem-behavior-table th:not(.wider-column) {
    width: auto;
}

@media print {

    .report-text {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }

}